node_modules/**/*
npm-debug.*

.expo/*

*.swo
*.swp

.history

*.jks
*.p8
*.p12
*.key
*.mobileprovision
turtle-cli-example_dist.password
turtle-cli-example_apns_key.id
android-upload-service-account.json
